@model IEnumerable<Terms_ConditionsVM>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>
       All Terms and Conditions
    </h1>
</center>

			

