
@{
    ViewData["Title"] = "prediction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>prediction</h1>
<form >
	<div class="form-group">
		<label for="Name">Doors </label>
		<input class="form-control" type="number" placeholder="Add Doors Here .. " id="Doors">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Wheel</label>
		<input class="form-control" type="text" placeholder="Add Wheel Here .. " id="Wheel">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Levy</label>
		<input class="form-control" type="number" placeholder="Add Levy Here .. " id="Levy">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Engine Volume</label>
		<input class="form-control" type="number" placeholder="Add Engine Volume Here .. " id="EngineVolume">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Mileage</label>
		<input class="form-control" type="number" placeholder="Add Mileage Here .. " id="Mileage">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Cylinders</label>
		<input class="form-control" type="number" placeholder="Add Cylinders Here .. " id="Cylinders">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Airbags</label>
		<input class="form-control" type="number" placeholder="Add Airbags Here .. " id="Airbags">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Model</label>
		<input class="form-control" type="text" placeholder="Add Model Here .. " id="Model">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Category</label>
		<input class="form-control" type="text" placeholder="Add Category Here .. " id="Category">
		<br />

	</div>

	<div class="form-group">
		<label for="Name">Leather Interior</label>
		<input class="form-control" type="text" placeholder="Add Leather Interior Here .. " id="LeatherInterior">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Fuel Type</label>
		<input class="form-control" type="text" placeholder="Add Fuel Type Here .. " id="FuelType">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Gear Box Type</label>
		<input class="form-control" type="text" placeholder="Add Gear Box Type Here .. " id="GearBoxType">
		<br />

	</div>
	
	<div class="form-group">
		<label for="Name">Drive Wheels</label>
		<input class="form-control" type="text" placeholder="Add Drive Wheels Here .. " id="DriveWheels">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Engine Turbo</label>
		<input class="form-control" type="number" placeholder="Add Engine Turbo Here .. " id="EngineTurbo">
		<br />

	</div>
	
	<div class="form-group">
		<label for="Name">Age</label>
		<input class="form-control" type="number" placeholder="Add Age Here .. " id="Age">
		<br />

	</div>
	<div class="form-group">
		<label for="Name">Manufacturer</label>
		<input class="form-control" type="text" placeholder="Add Manufacturer Here .. " id="Manufacturer">
		<br />

	</div>
	

	



	<div class="col-12">
		<button id="Predict" type="button" class="btn btn-lg btn-primary">Predict</button>
		<button type="reset" class="btn btn-danger btn-lg">Cancel</button>
	</div>


</form>
@section scripts{
	<script language="JavaScript" type="text/javascript" src="~/js/push.js"></script>
	    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

}